
:root {
	--color-primary: #2196f3;
	--color-accent: #ff9800;
	--color-white: #FFF;
	--color-background-start: #f7fbfe; /* rgba(247,251,254,1) */
	--color-background-end: #fbfcff;   /* rgba(247,251,254,1) */
	
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--color-background-start);
    background: linear-gradient(0deg, rgba(235,240,245,1) 0%, rgba(247,251,254,1) 100%);
}


nav {
	background-color: var(--color-primary);
	color: var(--color-white);
	margin-bottom: 1rem;
}

nav ul {
	display: flex;
    padding: 1rem;
    margin: 0;
    justify-content: space-evenly;
}

nav li {
	list-style: none;
	padding: 5px 10px;
}

nav li a {
	color: var(--color-white);
	text-decoration: none;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

nav li a:hover {
	background-color: var(--color-accent);	
}

.container {
	max-width: 1024px;
	margin: auto;
	padding: 0 0.75rem;
}


main {
	min-height: 80vh;
}

footer {
	background-color: var(--color-primary);
	color: var(--color-white);
	padding: 1rem;	
}

/*  tabla
******************************************************/

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

th, caption {
  background-color: var(--color-primary);
  color: white;
}

caption {
	font-size: 1.2rem;
	text-align: center;
	padding: 5px 0;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
}

tfoot td {
	background-color: #c5c3c3;
	text-align: right;
}

.boton {   
    padding: 5px 12px;
    min-height: 60px;    
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;    
    text-transform: uppercase;
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    color: var(--color-primary);
}

.boton:hover {
  transition: 1s;
  color: var(--color-white);
  background-color: var(--color-primary);
}



/* Hero
***********************************************************/

/* The hero image */
.hero-image {
  
  background-image: url("../imagenes/back_dog.jpg");
  
  /*  
      vh == deVice Height, en este caso usamos el 80% de altura del dispositivo, 
      el % no suele funcionar bien en el navegador
      */
  height: 80vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-primary);
}
