/*
*    1. reset o normalize ( se suele incluir en head con otro .css )
*    2. Animaciones o @keyframes ( no vamos a verla en este curso )
*    3. variables globales
*    4. Etiquetas de HTML
*    5. Layouts ( header, main, footer, nav, ... )
*    6. Clases ( botones, hero .... )
*    7. Selectores mas particulares ( para un id concreto, o pagina,....)
*/


:root {
	--color-primary: #2196f3;
	--color-accent: #ff9800;
	--color-white: #FFF;
	--color-background-start: #f7fbfe; /* rgba(247,251,254,1) */
	--color-background-end: #fbfcff;   /* rgba(247,251,254,1) */
	
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--color-background-start);
    background: linear-gradient(0deg, rgba(235,240,245,1) 0%, rgba(247,251,254,1) 100%);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--color-primary);
	text-transform: capitalize;
}

nav {
	background-color: var(--color-primary);
	color: var(--color-white);
	margin-bottom: 1rem;
}

nav ul {
	display: flex;
    padding: 1rem;
    margin: 0;
    justify-content: space-evenly;
}

nav li {
	list-style: none;
	padding: 5px 10px;
}

nav li a {
	color: var(--color-white);
	text-decoration: none;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

nav li a:hover {
	background-color: var(--color-accent);	
}


form {
	margin: 2rem auto 2rem auto;
	width: 50%;
	background-color: var(--color-white);
	padding: 2rem;
}

label {
	color: #333;
}

input, textarea {
	color:  var(--color-primary);
}

input[type="checkbox"] {
	height: 2rem;
}

.form-group {
	display: flex;
	margin-bottom: 1rem;
}

.form-group label {
	width: 25%
}

.form-group input {
	width: 70%
}


/* fotawesome
************************************************/
.fa {
	font-size: 1.5rem;
	color: var(--color-primary);
}
.fa:hover {		
	color: var(--color-accent);	
}


/* Layouts
*************************************************/

.container {
	max-width: 1024px;
	margin: auto;
	padding: 0 0.75rem;
}


main {
	min-height: 80vh;
}

footer {
	background-color: var(--color-primary);
	color: var(--color-white);
	padding: 1rem;	
}

/*  tabla
******************************************************/

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

th, caption {
  background-color: var(--color-primary);
  color: white;
}

caption {
	font-size: 1.2rem;
	text-align: center;
	padding: 5px 0;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
}

tfoot td {
	background-color: #c5c3c3;
	text-align: right;
}

.flex {
	display: flex;
	justify-content: space-around;
}

.boton {   
    padding: 5px 12px;
    min-height: 60px;    
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;    
    text-transform: uppercase;    
    color: var(--color-primary);
    
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    border-radius: 10px;    
}

.boton:hover {
  transition: 1s;
  color: var(--color-white);
  background-color: var(--color-accent);
}

.w-7 {
	width: 7% !important;
}



/* Hero
***********************************************************/

/* The hero image */
.hero-image {
  
  background-image: url("../imagenes/back_dog.jpg");
  
  /*  
      vh == deVice Height, en este caso usamos el 80% de altura del dispositivo, 
      el % no suele funcionar bien en el navegador
      */
  height: 80vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-primary);
}

