
:root {
	--color-primary: #2196f3;
	--color-accent: #ff9800;
	--color-white: #FFF;
}


nav {
	background-color: var(--color-primary);
	color: var(--color-white);
	margin-bottom: 1rem;
}

nav ul {
	display: flex;
    padding: 1rem;
    margin: 0;
    justify-content: space-evenly;
}

nav li {
	list-style: none;
	padding: 5px 10px;
}

nav li a {
	color: var(--color-white);
	text-decoration: none;
}

nav li a:hover {
	background-color: var(--color-accent);	
}

.container {
	max-width: 1024px;
	margin: auto;
	padding: 0 0.75rem;
}

main {
	min-height: 80vh;
}

footer {
	background-color: var(--color-primary);
	color: var(--color-white);
	padding: 1rem;
	margin-top: 1rem;
}

/*  tabla
******************************************************/

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

th, caption {
  background-color: var(--color-primary);
  color: white;
}

caption {
	font-size: 1.2rem;
	text-align: center;
	padding: 5px 0;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
}

tfoot td {
	background-color: #c5c3c3;
	text-align: right;
}

